.info-blocks {
    display: flex;
    flex-direction: column;
    
    @include media-breakpoint-up(md) {
        flex-direction: row;
    }
}

.info-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 425px;
    padding: 20px;
    
    @include media-breakpoint-up(md) {
        width: 50%;
        min-height: 500px;
        padding: 30px;
    }
    
    @include media-breakpoint-up(lg) {
        min-height: 690px;
    }
    
    img { max-width: 100%; }
    
    // Background Image
    &--bkgd-image {
        background-position: center top;
        background-size: cover;
    }
    
    // Text only
    &--text {
        min-height: 300px;
        background: $bright-green;
        
        .info-block__content {
            max-width: 490px;
        }
    
        .info-block__headline {
            margin: 0 0 15px 0;
            color: $royal;
            font-size: 2.125rem;
            font-weight: bold;
            line-height: 1.1;
        }
        
        @include media-breakpoint-up(lg) {
            font-size: 1.25rem;
            
            .info-block__headline {
                font-size: 2.75rem;
            }
        }
    }
    
    // Image and text, or
    // Custom HTML and text
    &--image-text,
    &--html-text {
        background: $razz;
        
        .info-block__content {
            max-width: 450px;
        }

        .info-block__headline {
            font-size: 2.125rem;
            font-weight: bold;
            line-height: 1;
        }
        
        .info-block__html {
            // 
        }
        
        .info-block__text {
            max-width: 450px;
            margin-top: 20px;
            color: $darker-blue;
            font-size: 1.25rem;
            line-height: 1.3;
        }

        // Pink version
        &.info-block--pink {
            background: $pink;

            .info-block__headline {
                color: $razz;
            }
        }
        
        @include media-breakpoint-up(lg) {
            .info-block__content {
                max-width: 544px;
            }
            
            .info-block__headline {
                font-size: 2.75rem;
            }
            
            .info-block__text {
                padding-left: 1em;
                font-size: 1.5rem;
            }
        }
    }
    
    // Chart
    &--chart {
        padding-top: 40px;
        padding-bottom: 0;
        justify-content: space-between;
        position: relative;
        background: $light-pink;
        line-height: 1.3;
        
        .info-block__content {
            max-width: 490px;
        }

        .info-block__headline {
            margin: 0 0 15px 0;
            color: $razz;
            font-size: 2.125rem;
            font-weight: bold;
            line-height: 1.1;
        }
        
        .info-block__chart {
            width: 100%;
            text-align: center;
        }
        
        @include media-breakpoint-up(lg) {
            justify-content: center;
            font-size: 1.25rem;
            
            .info-block__content {
                margin-bottom: 100px;
            }
            
            .info-block__headline {
                font-size: 2.75rem;
            }
            
            .info-block__chart {
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
    }
    
    // Split with Image and Button
    &--split-buttons {
        display: flex;
        flex-direction: column;
        padding: 0;
        
        @include media-breakpoint-up(xl) {
            flex-direction: row;
        }
        
        .info-block__east,
        .info-block__west {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding: 150px 50px;
            position: relative;
            
            .btn {
                position: relative;
                z-index: 10;
            }
            
            .info-block__bkgd {
                display: none;
                position: absolute;
                left: 0;
                top: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                background-size: cover;
                background-position: center center;
                
                &--mobile {
                    display: block;
                }
                
                @include media-breakpoint-up(xl) {
                    display: block;
                    
                    &--mobile {
                        display: none;
                    }
                }
            }
            
            @include media-breakpoint-up(xl) {
                width: 50%;
                height: 100%;
                padding: 100px 50px;
                
                .btn {
                    transform: translateY(140%);
                }
            }
        }
    }
}
